body{
    /* background-color:rgba(178, 178, 178, 0.457); */
    font-family:'Times New Roman', Times, serif!important;
    padding-top: 110px;
}

nav{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1030;
}

.navbar{
    background-color: rgb(190, 204, 210);
    padding: 10px 70px;
    /* border-bottom: 1px solid rgb(151, 191, 231); */
    /* box-shadow: 0px 1px 9px rgba(0,0,0,0.8); */
}

.navbar a{
    font-weight: bold;
    color: white !important;
    transition: background-color 0.25s ease, color 0.25s ease;
    /* text-transform: uppercase; */
    font-size: 18px;
    line-height: 2;
}

.navbar.scrolled {
    background-color: black !important;
    transition: background-color 0.3s ease;
}


.navbar .btn{
    background-color: white;
    border: none;
    font-size: 18px;
}

input.form-control {
    font-size: 13.5px;
}

input.form-control:focus {
    border-color: black;
    box-shadow: 0 0 10px black;
    outline: none;
}

button.btn {
    padding: 5px 14px; 
    font-size: 0.85rem; 
    height: 32px; 
    line-height: 1.1;
}

.first{
    font-size: small;
    padding: 8px;
    color: white;
    background-color: black;
    text-align: center;
}

.image{
    background-image: url(bg.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 30px;
    gap: 60px; 
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

.left-content {
    flex: 1; 
    max-width: 600px;
}

.left-content .breadcrumb {
    background: none;
    padding: 0;
    margin-bottom: 10px;
    font-weight: bold;
}

.left-content h1 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3.5rem;
    margin-bottom: 20px;
    font-weight: 500;
    color: black;
}

.left-content p {
    font-size: 1.3rem;
    line-height: 1.6;
    color: black;
}

.right-image {
    margin-top: 70px;
    flex: 1;
    max-width: 600px;
}

.right-image img {
    width: 105%;
    height: 400px;
    border-radius: 2px; 
    /* object-fit: cover; */
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.btn-light{
    padding: 25px!important;
    font-size: 20px !important;
    border-radius: 1px!important;
    display: flex;
    justify-content: center;
    align-items: center;      
}

.options{
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 30px 30px;
    gap: 60px; 
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-weight: bolder;
}

.options h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: bold;
    color: black;
    max-width: 400px;
    letter-spacing: 2px;
}

.options p {
    margin-top: 70px;
    flex: 1;
    max-width: 400px;
    margin-right: 140px;
}

.explore{
    margin-top: 12px;
    border: none;
    text-decoration: underline;
    text-underline-offset: 4px;
    background-color: white;
}

.template{
    background-image: url(template.jpg);
    background-size: contain;
    height: 60vh;
    background-repeat: no-repeat;
    margin-top: 40px;
    margin-bottom: 60px;
}

.begin{
    background-color: rgba(164, 151, 141, 0.9);
}

.head{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: bold;
    color: white;
    padding-top: 100px;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 40px; 
    flex-wrap: wrap;
    padding: 30px;
}

.card-container .card {
    margin: 0 !important;
}

.btn-primary {
    background-color: rgb(154, 138, 125);
    border: none;
    color: white;
}

.btn-primary:hover {
    background-color: black;
}

.info{
    margin-left: 30%;
    padding-top: 20px;
    padding-bottom: 60px;
    max-width: 500px;
    text-align: center;
    color: white;
    font-size: 19px;
}

.ex{
    margin-top: 12px;
    color: white;
    border: none;
    font-size: 14px;
    text-decoration: underline;
    text-underline-offset: 4px;
    background-color: rgba(164, 151, 141, 0);
}

.black{
    background-color: black;
    width: 200vh;
}


